* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Geologica', sans-serif;
}

header {
    height: 80px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.logo {
    height: 52%;
}

.header_container {
    height: 100%;
    width: 100%;
    max-width: 1159px;

}

header .header_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header li {
    margin-right: 35px;
    font-size: 15px;
    font-weight: 600;

}

header a {
    text-decoration: none;
    color: white;
}

.section1 {
    height: 480px;
    background-color: #ffccd4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 190px;
    padding-right: 190px;
}

.section1_left {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 40px;
    font-weight: 700;
}

h2 {
    font-size: 23.7px;
    font-weight: 300;
}

p {
    font-size: 9.9px;
}

.section1 h1 {
    margin-top: 20px;
}

.section1 h2 {
    margin-top: 40px;
}

.section1 p {
    margin-top: 80px;
}

.section1buttons {
    margin-top: 60px;
}

.section1buttons a {
    border: 1px solid black;
    text-decoration: none;
    padding-left: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-right: 2rem;
    border-radius: 3rem;
    font-size: 14px;
    font-weight: 500;
}

.bgblack {
    background-color: black;
    color: white;

}

.bgtrans {
    color: black;
}

p a {
    color: black;
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 27rem;
    background-color: rgb(241, 241, 241)
}

.section2 h1 {
    margin-top: 50px;
}

.section2 h2 {
    margin-top: 50px;
}

.store_buttons {
    margin-top: 70px;
}

.section2 p {
    margin-top: 50px;
    display: flex;

}

.section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 34rem;
}

.section3 h1 {
    margin-top: 80px;
    margin-bottom: 70px;
}

.iconnav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.expansion {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 45px;
}

.section3 h2 {
    font-size: 19px;
    font-weight: 600;
    padding-bottom: 20px;
}

.section3 h3 {
    font-size: 15px;
    font-weight: 300;
}

.section4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 105rem;
    background-color: rgb(241, 241, 241)
}

.section4_grid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 190px;
    padding-right: 190px;
}

.section4 h1 {
    margin-top: 70px;
}

.section4 h3 {
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
}

.grid {
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 60px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 1rem;
    width: 365px;
    height: 540px;
    padding-left: 20px;
    margin-bottom: 140px;

}

.grid span {
    background-color: #2E77D0;
    margin-top: 20px;
    border-radius: 4px;
    padding-left: 4px;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-right: 4px;
    color: white;
    font-weight: 600;
    font-size: 14px;
}

.grid ul {
    list-style: none;
}

ul li:before {
    content: 'âœ“';
}

.grid h2 {
    font-weight: 600;
    margin-top: 10px;
}

.grid h3 {
    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
}

.grid li {
    font-size: 16px;
    font-weight: 400;
    margin-top: 13px;
}

hr {
    width: 300px;
    margin-top: 20px;
}

.btn1 {
    margin-top: 70px;

}

.btn2 {
    margin-top: 35px;
}

.btn3 {
    margin-top: 155px;
}

.section4buttons a {
    border: 1px solid black;
    text-decoration: none;
    padding-left: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-right: 2rem;
    border-radius: 3rem;
    font-size: 14px;
    font-weight: 500;
    padding-left: 110px;
    padding-right: 110px;
}

.grid p {
    margin-top: 30px;
}

.section4 h2 {
    margin-top: 20px;
}

.questions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.questions h3 {
    background-color: white;
    padding-left: 2rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    padding-right: 2rem;
    width: 1100px;
}

footer {
    background-color: black;
    height: 34.7rem;
}

footer .logo {
    height: 40px;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    padding-top: 1.5rem;
}

.footer_menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5rem;
}

.columnflex {
    display: flex;
    flex-direction: column;
    padding-right: 7rem;
}

.greyfont {
    color: rgb(155, 155, 155);
    font-size: 13px;
    font-weight: 700;
}

footer img {
    padding-right: 3rem;
}

.lastline {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.loc {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 22rem;
    padding-bottom: 2rem;
}

.sec42 {
    display: flex;
    flex-direction: row;
    align-items: center;

}
.lastline a{
    color: rgb(155, 155, 155);
    margin-left: 20px;
    font-size: 12px;
}
.loc a{
    color: rgb(155, 155, 155);
    margin-left: 20px;
    font-size: 12px;
}